@import url('https://fonts.googleapis.com/css2?family=Amiko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cambay&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: auto;
    width: 100vw;
}

/*
HEADER // NAVBAR
*/
#header{
    header{
        .top-bar-creation-date{
            height: 4vh;
            display: flex;
            width: 100vw;
            font-size: 0.6rem;
            background: rgb(65,65,65);
            background: radial-gradient(circle, rgba(65,65,65,1) 0%, rgba(17,17,17,1) 100%, rgba(0,0,0,1) 100%);
            color: white;
            font-family: 'Amiko', sans-serif;
            justify-content: center;
            align-items: center;
        }
        .header-logo-informations-account{
            display: flex;
            font-family: 'Amiko', sans-serif;
            font-size: 0.9rem;
            .logo{
                img{
                    position: relative;
                    top: -1.8vh;
                    left: 8vw;
                }
            }
            .account{
                display: flex;
                position: relative;
                left:12vw;
                height: 10vh;
                align-items: center;
                a{
                    text-decoration: none;
                    color: black;
                }
                .research-input{
                    display: flex;
                    height: 5vh;
                    .search-bloc{
                        display: flex;
                        justify-content: center;
                        background: black;
                        width: 3.5rem;
                        align-items: center;
                    }
                    .input-search{
                        input{
                            height: 5vh;
                            min-width: 20vw;
                            border: none;
                            -webkit-box-shadow: 10px 5px 35px -14px rgba(97,97,97,1);
                            -moz-box-shadow: 10px 5px 35px -14px rgba(97,97,97,1);
                            box-shadow: 10px 5px 35px -14px rgba(97,97,97,1);
                            padding-left: 1vw;
                            ::placeholder{
                                color: black;
                                opacity: 1;
                            }
                        }
                    }
                }
                .telephone{
                    display: flex;
                    height: 5vh;
                    padding-left: 2vw;
                    .telephone-bloc{
                        display: flex;
                        justify-content: center;
                        background: black;
                        width: 3.5rem;
                        align-items: center;
                    }
                    .telephone-number{
                        height: 5vh;
                        min-width: 11vw;
                        border: none;
                        display: flex;
                        align-items: center;
                        -webkit-box-shadow: 10px 5px 35px -14px rgba(97,97,97,1);
                        -moz-box-shadow: 10px 5px 35px -14px rgba(97,97,97,1);
                        box-shadow: 10px 5px 35px -14px rgba(97,97,97,1);
                        padding-left: 1vw;
                    }
                }
                .my-account{
                    display: flex;
                    height: 5vh;
                    padding-left: 2vw;
                    .account-bloc{
                        display: flex;
                        justify-content: center;
                        background: #EF7D00;
                        width: 3.5rem;
                        align-items: center;
                    }
                    .account-link{
                        height: 5vh;
                        min-width: 11vw;
                        border: none;
                        display: flex;
                        align-items: center;
                        -webkit-box-shadow: 10px 5px 35px -14px rgba(97,97,97,1);
                        -moz-box-shadow: 10px 5px 35px -14px rgba(97,97,97,1);
                        box-shadow: 10px 5px 35px -14px rgba(97,97,97,1);
                        padding-left: 1vw;
                    }

                }
                .cart{
                    display: flex;
                    height: 5vh;
                    padding-left: 2vw;
                    .cart-bloc{
                        display: flex;
                        justify-content: center;
                        background: #EF7D00;
                        width: 3.5rem;
                        align-items: center;
                    }
                    .cart-link{
                        height: 5vh;
                        min-width: 11vw;
                        border: none;
                        display: flex;
                        align-items: center;
                        -webkit-box-shadow: 10px 5px 35px -14px rgba(97,97,97,1);
                        -moz-box-shadow: 10px 5px 35px -14px rgba(97,97,97,1);
                        box-shadow: 10px 5px 35px -14px rgba(97,97,97,1);
                        padding-left: 1vw;
                        
                    }

                }
            }
        }
        .navbar{
            position: absolute;
            z-index: 500;
        .main-navbar{
            width: 70vw;
            display: flex;
            position: relative;
            justify-content: center;
            background: white ;
            left: 15vw;
            font-family: 'Amiko', sans-serif;
            height: 5vh;
            align-items: center;
                li{
                    display: flex;
                    align-items: center;
                    list-style: none;
                    font-weight: 600;
                    padding-right: 1vw;
                    padding-left: 0.9vw;
                    transition: 0.2s linear;
                    &:hover{
                        color: #EF7D00;
                    }
                    span{
                        padding-left: 0.4vw;
                        font-size: 0.7rem;
                    }
                }
                .orange-column{
                    background-color: #EF7D00;
                    height: 2vh;
                    width: 3px !important;
                }
            }
            .navbar-products{
                display: none;
                width: 70vw;
                position: relative;
                justify-content: center;
                background: white ;
                border: 1px solid gray;
                left: 15vw;
                font-family: 'Amiko', sans-serif;
                font-weight: 700;
                height: 5vh;
                align-items: center;
                img{
                    margin-left: 3vw;
                    max-height: 6vh;
                    margin-right: 3vw;
                }
                td{
                    display: flex;
                    max-width: 30%;
                    align-items: center;
                    border-right: 1px solid gray;
                    border-bottom: 1px solid gray;

            }
            .last-product{
                border-bottom: none;
            }
            }
        }
    }
        .background-image{
            margin-top: 5vh;
            height: 50vh;
            width: 100vw;
            img{
                height: 45vh;
                width: 100vw;
                object-fit: cover;
            }
        }
    }


#products{
    display: flex;
    justify-content: center;
    font-family: 'Amiko', sans-serif;
    fieldset{
        height: 25vh;
        width: 90vw;
        display: flex;
        justify-content: center;
        .products-legend{
            text-align: center;
            background: black;
            padding-top: 1.25vh;
            color: white;
            height: 5vh;
            width: 17vw;
            font-size: 1.3rem;
        }
        .list-products{
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            align-items: center;
            .gray-column{
                background-color: lightgray;
                opacity: 0.3;
                    height: 13vh;
                    width: 3px !important;

            }
            li{
                display: inline-block;
                text-align: center;
                transition: 0.15s linear;
                &:hover{
                    color: #EF7D00;
                }
                span{
                    padding-top: 1vh;
                    display: block;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    i{
                        color: #EF7D00;
                        margin-left: 0.5vw;
                    }
                }
            }
        }
    }
}

#informations{
    padding-top: 5vh;
    display: flex;
    justify-content: center;
    font-family: 'Amiko', sans-serif;
    fieldset{
        height: auto;
        width: 90vw;
        .products-legend{
            text-align: center;
            background: black;
            padding-top: 1.25vh;
            color: white;
            height: 5vh;
            width: 17vw;
            font-size: 1.3rem;
        }
        .list-products{
            display: grid;
            grid-template-columns: 18% 2% 18% 2% 18% 2% 18% 2% 18%;
            width: 100%;
            justify-content: space-evenly;
            align-items: center;
            
            li{
                margin-top: 8vh;
                display: inline-block;
                transition: 0.1s linear;
                text-align: center;
                &:hover{
                    color: #EF7D00;
                }
                span{
                    display: block;
                }
                .product-title, .product-price{
                    font-weight: 800;
                }
                .product-price{
                    margin-top: 1vh;
                }
                
            }
            .gray-column{
                background-color: lightgray;
                opacity: 0.3;
                height: 35vh;
                width: 3px !important;
            }
        }
        .more-products{
            position: relative;
            text-align: center;
            padding-top: 2vh;
            padding-bottom: 2vh;
            button{
                background: transparent;
                font-size: 1.5rem;
                border: 2px solid #EF7D00;
                color: #EF7D00;
                padding: 0.6rem 2rem 0.6rem 2rem;
                font-weight: 500;
            }
        }
    }
}
#banner-information{
    margin-top: 5vh;
    display: block;
    justify-content: center;
    font-family: 'Amiko', sans-serif;
    .banner-shipping-payment{
        background: rgb(65,65,65);
        background: radial-gradient(circle, rgba(65,65,65,1) 0%, rgba(17,17,17,1) 100%, rgba(0,0,0,1) 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        width: 100vw;
        height: 15vh;
        ul{
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            align-items: center;
            li{
                display: inline-block;
                text-align: center;
                transition: 0.15s linear;
                img{
                    padding-bottom: 1vh;
                }
              
                span{
                    display: block;
                    font-weight: 600;
                    text-align: center;
                }
            }
        }
       
    }
    .servicesMobile{
        display: none;
    }
    .services{
        font-family: 'Amiko', sans-serif;
        display: flex;
        justify-content: center;
        
        .span-block-services{
            text-align: center;
            background: transparent;
            width: 100%;
            color:#EF7D00 ;
            height: 8vh;
            -webkit-box-shadow: 10px 5px 35px -14px rgba(97,97,97,1);
            -moz-box-shadow: 10px 5px 35px -14px rgba(97,97,97,1);
            box-shadow: 10px 5px 35px -14px rgba(97,97,97,1);
            span, h3{
                transform: translateY(50%);
            }
            h3{
                margin-bottom: 1.5vh;
            }
        }
        fieldset{
            margin-top: 5vh;
            width: 90%;
            height: auto;
            padding: 2rem;
            display: flex;
            align-items: center;
            .pc-configuration-bloc{
                width: 50%;
                margin-right: 2rem;
                img{
                    width: 100%;
                }
            }

            .right-services-bloc{
                width: 50%;
                img{
                    width: 100%;
                }
            }
    }
    }

}

#footer{
    display: block;
    padding-top: 3vh;
    .text-footer{
        width: 80vw;
        margin-left: 10vw;
        margin-bottom: 5vh;
        h3{
            text-align: start;
            font-size: 2rem;
            margin-bottom: 3vh;
        }
        p{
            font-size: 1.2rem;
            font-family: 'Cambay', sans-serif;
            text-align: justify;
        }
    }
    .links-footer{
        display: flex;
        justify-content: space-evenly;
        min-height: 23vh;
        width: 100vw;
        font-family: 'Amiko', sans-serif;
        color: white;
        background: rgb(65,65,65);
        background: radial-gradient(circle, rgba(65,65,65,1) 0%, rgba(17,17,17,1) 100%, rgba(0,0,0,1) 100%);
        ul{
            margin-top: 3vh;
            .table-title{
                margin-bottom: 2.5vh;
                font-size: 1.4rem;
            }
            li{
                list-style: none;
                line-height: 1.5rem;
                font-weight: 100;
            }
        }
        .orange-link{
            color:#EF7D00 ;
        }
    }
}

@media screen and (max-width: 890px) {

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        height: auto;
        width: 100%;
    }
    html{
        width: 100%;
    }

    #header{
        header{
            .top-bar-creation-date{
                height: 2vh;
                display: flex;
                width: 100%;
                font-size: 0.5rem;
                background: rgb(65,65,65);
                background: radial-gradient(circle, rgba(65,65,65,1) 0%, rgba(17,17,17,1) 100%, rgba(0,0,0,1) 100%);
                color: white;
                font-family: 'Amiko', sans-serif;
                justify-content: center;
                align-items: center;
            }
            .header-logo-informations-account{
                display: flex;
                font-family: 'Amiko', sans-serif;
                font-size: 0.9rem;
                .logo{
                    img{
                        position: relative;
                        top: 1vh;
                        left: 15vw;
                        height: 5rem;
                    }
                }
                .account{
                    display: flex;
                    position: relative;
                    left:12vw;
                    height: 10vh;
                    align-items: center;
                    a{
                        text-decoration: none;
                        color: black;
                    }
                    .research-input{
                        display: flex;
                        position: absolute;
                        height: 5vh;
                        top: 100%;
                        left: -10%;
                        .search-bloc{
                            display: flex;
                            justify-content: center;
                            background: black;
                            width: 3.5rem;
                            align-items: center;
                        }
                        .input-search{
                            input{
                                height: 5vh;
                                min-width: 60vw;
                                border: none;
                                -webkit-box-shadow: 10px 5px 35px -14px rgba(97,97,97,1);
                                -moz-box-shadow: 10px 5px 35px -14px rgba(97,97,97,1);
                                box-shadow: 10px 5px 35px -14px rgba(97,97,97,1);
                                padding-left: 1vw;
                                ::placeholder{
                                    color: black;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    .telephone{
                        display: flex;
                        height: 5vh;
                        padding-left: 30vw;
                        .telephone-bloc{
                            width: 5rem;
                            img{
                                height: 3rem;
                            }
                        }
                        .telephone-number{
                            display: none;
                        }
                    }
                    .my-account{
                        .account-bloc{
                            width: 5rem;
                            img{
                                height: 3rem;
                            }
                        }
                        .account-link{
                            display: none;
                        }
                    }
                    .cart{
                        
                        .cart-bloc{
                            width: 5rem;
                            img{
                                height: 3rem;
                            }
                        }
                        .cart-link{
                            display: none;
                            
                        }
    
                    }
                }
            }
            .navbar{
                display: none;
            }
        }
            .background-image{
                margin-top: 8vh;
                height: 50vh;
                width: 100vw;
                img{
                    height: 45vh;
                    width: 100vw;
                    object-fit: cover;
                }
            }
        }
    
    
    #products{
        display: flex;
        justify-content: center;
        font-family: 'Amiko', sans-serif;
        fieldset{
            height: 100vh;
            width: 90vw;
            display: block;
            justify-content: center;
            .products-legend{
                text-align: center;
                background: black;
                padding-top: 1.25vh;
                color: white;
                height: 5vh;
                width: 35vw;
                font-size: 1.3rem;
            }
            .list-products{
                display: block;
                width: 100%;
                justify-content: space-evenly;
                align-items: center;
                .gray-column{
                    background-color: lightgray;
                    opacity: 0.3;
                        height: 13vh;
                        width: 3px !important;
    
                }
                li{
                    display: inline-block;
                    width: 50%;
                    text-align: center;
                    transition: 0.15s linear;
                    &:hover{
                        color: #EF7D00;
                    }
                    span{
                        padding-top: 1vh;
                        display: block;
                        font-weight: 600;
                        display: flex;
                        align-items: center;
                        i{
                            color: #EF7D00;
                            margin-left: 0.5vw;
                        }
                    }
                }
            }
        }
    }
    
    #informations{
        padding-top: 5vh;
        display: flex;
        justify-content: center;
        font-family: 'Amiko', sans-serif;
        fieldset{
            height: auto;
            width: 90vw;
            .products-legend{
                text-align: center;
                background: black;
                padding-top: 1.25vh;
                color: white;
                height: 5vh;
                width: 35vw;
                font-size: 1.3rem;
            }
            .list-products{
                display: grid;
                grid-template-columns:50% 50%;
                width: 100%;
                justify-content: space-evenly;
                align-items: center;
                .mobile-product{
                    display: block;
                }
                
                li{
                    margin-top: 2vh;
                    margin-bottom: 5vh;
                    display: none;
                    transition: 0.1s linear;
                    text-align: center;
                    &:hover{
                        color: #EF7D00;
                    }
                    span{
                        display: block;
                    }
                    .product-title, .product-price{
                        font-weight: 800;
                    }
                    .product-price{
                        margin-top: 1vh;
                    }
                    
                }
                .gray-column{
                    display: none;
                    background-color: lightgray;
                    opacity: 0.3;
                    height: 35vh;
                    width: 3px !important;
                }
            }
            .more-products{
                display: none;
                position: relative;
                text-align: center;
                padding-top: 2vh;
                padding-bottom: 2vh;
                button{
                    background: transparent;
                    font-size: 1.5rem;
                    border: 2px solid #EF7D00;
                    color: #EF7D00;
                    padding: 0.6rem 2rem 0.6rem 2rem;
                    font-weight: 500;
                }
            }
        }
    }
    #banner-information{
        margin-top: 5vh;
        display: block;
        justify-content: center;
        font-family: 'Amiko', sans-serif;
        .banner-shipping-payment{
            background: rgb(65,65,65);
            background: radial-gradient(circle, rgba(65,65,65,1) 0%, rgba(17,17,17,1) 100%, rgba(0,0,0,1) 100%);
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            width: 100vw;
            height: 15vh;
            ul{
                display: flex;
                width: 100%;
                justify-content: space-evenly;
                align-items: center;
                li{
                    display: inline-block;
                    text-align: center;
                    transition: 0.15s linear;
                    img{
                        padding-bottom: 1vh;
                    }
                  
                    span{
                        display: block;
                        font-weight: 600;
                        text-align: center;
                    }
                }
            }
           
        }
        .services{
            fieldset{
               display: none;
        }
        }
        .servicesMobile{
            font-family: 'Amiko', sans-serif;
            display: block;
            justify-content: center;
            
            .span-block-services{
                text-align: center;
                background: transparent;
                width: 100%;
                color:#EF7D00 ;
                height: 8vh;
                -webkit-box-shadow: 10px 5px 35px -14px rgba(97,97,97,1);
                -moz-box-shadow: 10px 5px 35px -14px rgba(97,97,97,1);
                box-shadow: 10px 5px 35px -14px rgba(97,97,97,1);
                span, h3{
                    transform: translateY(50%);
                }
                h3{
                    margin-bottom: 1.5vh;
                }
            }
           
                .pc-configuration-bloc{
                    margin-top: 5vh;
                    width: 100%;
                    margin-right: 0rem;
                    img{
                        width: 100%;
                    }
                }
                .services-bloc{
                    margin-top: 5vh;
                    img{
                        width: 100%;
                    }
                }
                .telemaintenance-bloc{
                    margin-top: 5vh;
                    img{
                        width: 100%;
                    }
                }
                    
        }

        }
    
    
    
    #footer{
        display: block;
        padding-top: 3vh;
        .text-footer{
            width: 80vw;
            margin-left: 10vw;
            margin-bottom: 5vh;
            h3{
                text-align: start;
                font-size: 2rem;
                margin-bottom: 3vh;
            }
            p{
                font-size: 0.6rem;
                font-family: 'Cambay', sans-serif;
                text-align: justify;
            }
        }
        .links-footer{
            display: flex;
            justify-content: space-evenly;
            min-height: 23vh;
            width: 100vw;
            font-family: 'Amiko', sans-serif;
            color: white;
            background: rgb(65,65,65);
            background: radial-gradient(circle, rgba(65,65,65,1) 0%, rgba(17,17,17,1) 100%, rgba(0,0,0,1) 100%);
            ul{
                margin-top: 3vh;
                .table-title{
                    margin-bottom: 2.5vh;
                    font-size: 0.8rem;
                }
                li{
                    list-style: none;
                    line-height: 1.5rem;
                    font-weight: 100;
                    font-size: 0.5rem;
                }
            }
            .orange-link{
                color:#EF7D00 ;
            }
        }
    }
    

}